<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JTB | Good To Your Woman</title>
    <meta name="description" content="Julian Taylor Band- Tell us what it means to be good to your woman" />
    <meta name="keywords" content="Julian Taylor Band, Good to your woman" />
    <meta name="author" content="Shane Boland" />
    <link rel="shortcut icon" href="../favicon.ico">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
<form id="nl-form2" class="nl-form2" action="/videos/create" method="post" enctype="multipart/form-data" >
        <div class="your-name boxes">
            <div class="box">
                <p>
                    <span class="footer-label">Your name</span>
                </p>
                <input type="text" id="name" name="name" value="" placeholder="Erik Von Stackelberg">
            </div>
        </div>
        <img class="jellyfish3" src="/assets/jellyfish3.png" alt="jellyfish doodle">
        <div class="boxes">
            <div class="box">
                <p>
                    <span class="footer-label">Location</span>
                </p>
                <input type="text" id="location" name="location" value="" placeholder="Toronto">
            </div>
            <div class="box">
                <p>
                    <span class="footer-label">Age</span>
                </p>

                <select id="age">
                    <option id="all" value="1" selected>All</option>
                    <option id="21under" value="2">21 & under</option>
                    <option id="2145" value="3">21-45</option>
                    <option id="45over" value="4">45 & over</option>
                </select>
            </div>
            <div class="box">
                <p>
                    <span class="footer-label">Gender</span>
                </p>
                <select id="gender">
                    <option id="male" value="1" selected>Female</option>
                    <option id="female" value="2">Male</option>
                </select>
            </div>
            <div class="box">
                <p id="video-file">
                    <span class="footer-label">Video file</span>
                    <br/>
                </p>

                <div class="custom-file-upload">
                    <input type="file" id="file" name="myfiles[]" multiple />
                </div>


            </div>
            <button class="nl-submit" type="submit">Submit</button>
            <img class="jellyfish4" src="/assets/jellyfish4.png" alt="jellyfish doodle">
    </form>
    <p class="disclaimer">By submitting, you allow us to upload your video to YouTube and use the video in relevant situations where the content is deemed appropriate. Please allow one hour for video upload.</p>

    <%= javascript_include_tag "jquery.fittext" %>
    <%= javascript_include_tag "nlform" %>
    <%= javascript_include_tag "script" %>
		<%= javascript_include_tag "customupload" %>
    <script>
    	var nlform1 = new NLForm(document.getElementById('nl-form2'));
    </script>

</body>

</html>