<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JTB | Good To Your Woman</title>
    <meta name="description" content="Julian Taylor Band- Tell us what it means to be good to your woman" />
    <meta name="keywords" content="Julian Taylor Band, Good to your woman" />
    <meta name="author" content="Shane Boland" />
    <link rel="shortcut icon" href="../favicon.ico">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%= javascript_include_tag "modernizr.custom" %>
</head>

<body>
<a href="#" class="paulund_modal">Click Here</a>
    <!-- <div class="notification-nav">dsd</div> -->
    <section>
        <div class="bubble-overlay">
            <div class="header">
                <h2 class="jtb">
                    <span>Julian Taylor Band</span>
                </h2>
                <h1 id="title">Be Good to your Woman</h1>
                <div class="buttons">
                    <%= image_tag "jellyfish.png", class: "jellyfish", alt: "jellyfish doodle" %>
                    <a href="#search" class="button" alt="Watch Others Videos">Watch<br/><span>See Others' Videos</span></a>
                    <a href="#upload" class="button secondary" alt="Upload a Video">Upload<br/><span>Tell us with video</span></a>
                    <%= image_tag "jellyfish2.png", class: "jellyfish2", alt: "jellyfish doodle" %>
                </div>
            </div>
        </div>
        <div class="bar">
            <a name="search"></a>
            <div class="boxes">
                
                <!-- <form id="nl-form" class="nl-form" method="post" action="videos/search", data-remote="true"> -->
                <%= form_tag "videos/search", class: "nl-form", id: "nl-form", method: :get, remote: true  do %>

                    <div class="box">
                        <p>
                            <span>Age</span>
                        </p>

                        <select id="age" name="age">
                            <option id="all" value="0" selected>All</option>
                            <option id="21under" value="1">21 & under</option>
                            <option id="2145" value="2">21-45</option>
                            <option id="45over" value="3">45 & over</option>
                        </select>
                    </div>
                    <div class="box">
                        <p>
                            <span>Gender</span>
                        </p>
                        <select id="gender" name="gender">
                            <option id="male" value="m" selected>Male</option>
                            <option id="female" value="f">Female</option>
                        </select>
                    </div>
                    <div class="box">
                        <p>
                            <span>Location</span>
                        </p>
                        <select id="location" name="location">
                            <option id="america" value="1" selected>America</option>
                            <option id="asia" value="2">Asia</option>
                            <option id="europe" value="3">Europe</option>
                            <option id="australia" value="4">Australia</option>
                        </select>
                    </div>
                    <div class="box">
                        <p id="popularity">
                            <span>Popularity</span>
                            <br/>
                            <input type="checkbox" id="popularity-checkbox" name="popularity" value="Most Viewed">Most Viewed
                        </p>
                    </div>
                    <button class="nl-submit" type="submit">Search</button>
                    
                <% end %><!-- </form> -->
            </div>
        </div>
    </section>
    <section>
        <iframe src="http://player.vimeo.com/video/101557016?color=ffffff" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </section>
    <section>
        <a name="upload"></a>
        <div class="bar secondary">
            <h4 id="good">Tell us what it means to be good to
                <strong>your</strong>&nbsp;woman</h4>
        </div>
            <iframe src="/pages/upload_form" scrolling="no" width="100%" height="100%" id="iframe-form" ></iframe>
    </section>


    <section class="video-results">
        <div class="video-render">
          <%= render @videos %>
        </div>
        <%#= will_paginate @videos %>
    </section>

    <%= javascript_include_tag "jquery.fittext" %>
    <%= javascript_include_tag "nlform" %>
    <%= javascript_include_tag "script" %>
    <%= javascript_include_tag "modal.js" %>
    <script>
    var nlform = new NLForm(document.getElementById('nl-form'));
    </script>
    <script>
$(document).ready(function(){
    $('.paulund_modal').paulund_modal_box();
    $('.paulund_modal_2').paulund_modal_box({
        title:'Second Title Box',
        description:'Custom description for box <br/><br/>Quisque sodales odio nec dolor porta sed laoreet mauris pretium. Aenean id mauris ligula, semper pulvinar dolor. Suspendisse rutrum, libero eu condimentum porta, mauris mauris semper augue, ut tempor nunc arcu vel ligula. Quisque orci eros, consequat vel iaculis eget, blandit bibendum est. Morbi ac tellus dui. Nullam eget eros et lectus dignissim placerat. Nulla facilisi. Ut congue posuere vulputate.'
    });
    $('.paulund_modal_3').paulund_modal_box({
        title: 'Change Title with height',
        height: '500'
    });
    $('.paulund_modal_4').paulund_modal_box({
        title: 'Change Title with Width',
        width: '800'
    });
    $('.paulund_modal_5').paulund_modal_box({
        title:'Second Title Box',
        description:'Custom description for box <br/><br/>Quisque sodales odio nec dolor porta sed laoreet mauris pretium. Aenean id mauris ligula, semper pulvinar dolor. Suspendisse rutrum, libero eu condimentum porta, mauris mauris semper augue, ut tempor nunc arcu vel ligula. Quisque orci eros, consequat vel iaculis eget, blandit bibendum est. Morbi ac tellus dui. Nullam eget eros et lectus dignissim placerat. Nulla facilisi. Ut congue posuere vulputate.',
        height: '500',
        width: '800'
    });
});
</script>


    <div class="overlay"></div>
    


</body>

</html>